.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    gap: 16px;
}
.charmander{
    padding:16px;
    border: 2px dashed rgb(219, 60, 39)
}
.squirtle{
    padding:16px;
    border:2px dashed rgb(0, 46, 58) 
}
.bulbasaur{
    padding:16px;
    border:2px dashed rgb(32, 248, 97) 
}
.charmander:hover{
    background-color: rgb(236, 171, 85);
    zoom: 1.25
}
.squirtle:hover{
    background-color: rgb(125, 236, 227);
    zoom: 1.25
}
.bulbasaur:hover{
     background-color: rgb(91, 179, 152);
     zoom: 1.25
}