.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 450px;
}

.machop{
    padding:16px;
    border: 2px dashed rgb(47, 160, 160)
}
.geodude{
    padding:16px;
    border:2px dashed rgb(0, 46, 58) 
}
.onix{
    padding:16px;
    border:2px dashed rgb(172, 62, 166) 
}
.machop:hover{
    background-color: rgb(127, 198, 216);
    zoom: 1.25
}
.geodude:hover{
    background-color: rgb(112, 134, 132);
    zoom: 1.25
}
.onix:hover{
     background-color: rgb(243, 184, 241);
     zoom: 1.25
}