.box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column: span2;
    width: 100%;
    gap: 16px;
}

.snorlax {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

.diglett {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.zubat {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.snorlax{
    padding:16px;
    border: 2px dashed rgb(47, 160, 160)
}
.diglett{
    padding:16px;
    border:2px dashed rgb(0, 46, 58) 
}
.zubat{
    padding:16px;
    border:2px dashed rgb(172, 62, 166) 
}
.snorlax:hover{
    background-color: rgb(127, 198, 216);
    zoom: 1.25
}
.diglett:hover{
    background-color: rgb(112, 134, 132);
    zoom: 1.25
}
.zubat:hover{
     background-color: rgb(243, 184, 241);
     zoom: 1.25
}