.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

.articuno {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.zapdos {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.moltres {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}
.articuno{
    padding:16px;
    border:2px dashed rgb(0, 46, 58) 
}
.zapdos{
    padding:16px;
    border:2px dashed rgb(172, 62, 166) 
}
.moltres{
    padding:16px;
    border:2px dashed rgb(217, 226, 82) 
}
.articuno:hover{
    background-color: rgb(127, 198, 216);
    zoom: 1.25
}
.zapdos:hover{
    background-color: rgb(112, 134, 132);
    zoom: 1.25
}
.moltres:hover{
     background-color: rgb(243, 184, 241);
     zoom: 1.25
}